@import "fonts";
@import "vars";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

.container {
  width: 100%;
  display: flex;
  align-items: center;


  .box {
    width: 50%;

    .settings {
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;

      .renderList {
        position: relative;
        display: block;

        .list {
          position: absolute;
          width: 100%;
          list-style: none;
          transition: all .2s ease-out;
          overflow: hidden;

          .item {
            display: block;
            height: 40px;

            &:nth-child(odd) {
              background: $default;
            }

            &:hover {
              background: $bg-hover;
            }
          }

          &.collapsed {
            display: none;
          }
        }
      }
    }
  }
}

.name, .btn, .renderList {
  width: 30%;
}

.name, .btn {
  height: 40px;

}

.point-game {
  text-decoration: none;
  color: $accent;
}

.active {
  color: red;
}

.board div {
  background-color: black;
  border: 1px solid grey;
  box-sizing: border-box;
  display: block;
  width: 24px;
  height: 24px;
}

@import "media"; // Всегда в конце
